@font-face {
  font-family: "dm-sans";
  src: url(fonts/dm-sans/webfonts/dm-sans-latin-900-normal.woff);
  font-weight: 900; /*Black*/
  font-style: normal;
}
@font-face {
  font-family: "dm-sans";
  src: url(fonts/dm-sans/webfonts/dm-sans-latin-500-italic.woff);
  font-weight: 500; /*Medium Italic*/
  font-style: italic;
}
@font-face {
  font-family: "dm-sans";
  src: url(fonts/dm-sans/webfonts/dm-sans-latin-800-italic.woff);
  font-weight: 800; /*Extra bold Italic*/
  font-style: italic;
}
@font-face {
  font-family: "dm-sans";
  src: url(fonts/dm-sans/webfonts/dm-sans-latin-700-italic.woff);
  font-weight: 700; /* Bold Italic*/
  font-style: italic;
}
@font-face {
  font-family: "dm-sans";
  src: url(fonts/dm-sans/webfonts/dm-sans-latin-500-normal.woff);
  font-weight: 500; /* Medium */
  font-style: normal;
}
@font-face {
  font-family: "dm-sans";
  src: url(fonts/dm-sans/webfonts/dm-sans-latin-600-normal.woff);
  font-weight: 600; /* Semi bold */
  font-style: normal;
}
@font-face {
  font-family: "dm-san";
  src: url(fonts/dm-sans/webfonts/dm-sans-latin-700-normal.woff);
  font-weight: 700; /* Bold */
  font-style: normal;
}
.dive-into {
  font-family: "dm-sans", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.2;
  color: white;
}
.are-you-ready {
  font-family: "dm-sans", sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: white;
  font-style: italic;
}
.extra-bold {
  font-family: "dm-sans", sans-serif;
  font-weight: 800;
  font-size: 38px;
}
.bold-italic {
  font-family: "dm-sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  font-style: italic;
}
h1 {
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
  line-height: 1.025;
  text-align: right;
  color: #9dad20;
}
.smaller-header-text {
  font-size: 64px;
  line-height: 1.025;
}
.attraction-name {
  font-family: "bebas-neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
.attraction-descriptions {
  font-family: "dm-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  margin-top: -25px;
}
.links-to-website,
.links-to-website-reversed {
  font-family: "ff-real-text-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}
.contact-info,
.social-media,
.download {
  margin-top: 56px;
  font-family: "dm-sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
}
.copyright-info,
.active-years,
.company-name {
  margin-top: 42px;
  font-family: "dm-sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
}
