body {
  margin: 0;
}
#placehold {
  width: 1440px;
  height: 569px;
  background-image: url(images/kid-and-girl-1.png);
  background-size: cover;
}
#placehold > div {
  top: 30px;
  right: 30px;
  width: 400px;
  position: absolute;
  text-transform: uppercase;
}
#placehold > div span {
  font-size: 20px;
}
.row {
  position: relative;
  margin: 0 auto;
  width: 1400px;
}
#message {
  width: 1440px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 200px;
  background-color: #9dad20;
  margin: -42px auto 0 auto;
  font-size: 25pt;
}
