.Benefits > ol > li {
  color: blue;
}
.Concepts > ol > li {
  color: red;
}
a:link {
  color: black;
}
a:visited {
  color: brown;
}
a:hover {
  background-color: black;
  color: aqua;
}

img {
  width: 300px;
  height: auto;
}
