a:link {
  color: black;
}
a:visited {
  color: brown;
}
a:hover {
  background-color: black;
  color: aqua;
}
.Gameplay > ol > li {
  color: blueviolet;
}
.Strategies > ol > li {
  color: chocolate;
}
img {
  width: 300px;
  height: auto;
}
