body {
  margin: 0;
}
#wrapper {
  width: 500px;
  height: 500px;
  background-color: white;
  border: 5px solid gray;
  position: relative;
}
#square1 {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: 50px;
  left: 50px;
}
#square2 {
  width: 200px;
  height: 200px;
  background-color: lime;
  position: absolute;
  top: 150px;
  left: 150px;
  z-index: 1;
}
#square3 {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 1;
}
